body{
    margin: 0 auto;
    padding: 0;
    width: 1215px;
    height: 100%;
    background: #E5E5E5;

}
/* .wrapper{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    margin: 40px;
    left: calc(50% - 1215px/2);
top: calc(50% - 687px/2);
} */
.container{
width: 1215px;
height: 687px;
margin: 20px;
background: #3A4965;

} 
table{
    display: table;
    width: auto;
     background-color: #fff;
     position: relative;
     height: auto;
     background: #3A4965;
    top: 28px;
    bottom: 21px;
    left: 27px;
    right: 30px;
    border-collapse: separate;
    box-sizing: border-box;
}
.head{
    display: table-header-group;
    position: absolute;
    margin: 0 auto;
    box-sizing: border-box;
}
tr{
    display: table-row;
}
th{
    display: table-cell;
    background: #FAFAFA;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
}
td{
    display: table-cell;
    background: #FAFAFA;
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
}
.table-first{
    position: absolute;
}
.first-one{
position: absolute;
width: 201px;
height: 115px;
left: 0;
top: 0;
background: #FAFAFA;
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
}
.first-title{
position: absolute;
width: 134px;
height: 28px;
left: 34px;
top: -7px;
font-family: 'Arimo';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 28px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #484848;
}
.pricing{
    position: absolute;
    width: 172px;
    height: 23px;
    left: -15px;
    top: 23px;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    color: #484848;
}
.first-two{
    position: absolute;
    width: 160px;
    height: 115px;
    left: 201px;
    top: 0px;
    background: #E3E3E3;
}
.img1{
font-family: 'FontAwesome';    
color: #848484;
margin-bottom: 5px; 
}
.title1{
    position: absolute;
width: 99px;
height: 48px;
left: 31px;
bottom: 0;
font-family: 'Arimo';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 28px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
text-transform: uppercase;
flex-direction: column;
color: #484848
}
.first-three{
    position: absolute;
    width: 160px;
    height: 115px;
    left: 361px;
    top: 0px;
    background: #F2F2F2;
}
.title2{
    position: absolute;
width: 99px;
height: 48px;
left: 31px;
bottom: 0;
font-family: 'Arimo';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 28px;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
justify-content: center;
text-transform: uppercase;
color: #484848;
}
.img2{
color: #848484;    
font-family: 'FontAwesome';
margin-bottom: 5px; 
}
.first-four{
    position: absolute;
width: 160px;
height: 115px;
left: 521px;
top: 0px;
background: #E3E3E3;
}
.title3{
    position: absolute;
    width: 64px;
    height: 46px;
    left: 48px;
    bottom: 0;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    color: #484848;
}
.img3{
font-family: 'FontAwesome';    
color: #848484;
margin-bottom: 5px; 
}
.first-five{
    position: absolute;
width: 160px;
height: 115px;
left: 681px;
top: 0px;
background: #F2F2F2;
}
.title4{
    position: absolute;
    width: 98px;
    height: 49px;
    left: 31px;
    bottom: 0;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #484848;
    
}
.img4{
    font-family: 'FontAwesome';    
    color: #848484;
    margin-bottom: 5px; 
}
.first-six{
    position: absolute;
width: 160px;
height: 115px;
left: 841px;
top: 0px;
background: #E3E3E3;
}
.title5{
    position: absolute;
    width: 115px;
    height: 48px;
    left: 25px;
    bottom: 0;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #484848;
}
.img5{
    font-family: 'FontAwesome';    
    color: #848484;    
    margin-bottom: 5px; 
}
.first-seven{
    position: absolute;
width: 160px;
height: 115px;
left: 1001px;
top: 0px;
background: #F2F2F2;
}
.title6{
    position: absolute;
width: 73px;
height: 49px;
left: 44px;
bottom: 0;
font-family: 'FontAwesome';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 28px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #484848;
}
.img6{
    font-family: 'FontAwesome';    
    color: #848484;   
    margin-bottom: 5px; 
}
.body{
    display: table-row-group;
    position: absolute;
    margin: 0 auto;
    box-sizing: border-box;
}
.table-second{
    position: absolute;
}
.second-one{
    position: absolute;
    width: 201px;
    height: 164px;
    left: 0px;
    top: 141px;
    display: flex;
    /* flex-direction: column; */
    background: #89C331;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
    
}
.standart{
    position: absolute;
width: 162px;
height: 28px;
left: 18px;
top: -21px;
bottom: 111px;
font-family: 'Arimo';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}
.price-one{
    position: absolute;
    margin: 0;
    width: 67px;
    height: 28px;
    left: 8px;
    top: 55px;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.cent1{
    position: absolute;
width: 54px;
height: 28px;
left: 38px;
top: -9px;
font-family: 'Arimo';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 28px;
display: flex;
align-items: center;
vertical-align: top;
text-transform: uppercase;
justify-content: center;
color: #FFFFFF;
}
.subtitle1{
    position: absolute;
    width: 112px;
    height: 28px;
    left: 70px;
    top: 0;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.button1{
    position: absolute;
    width: 147px;
    height: 44px;
    left: 25px;
    top: 96px;
    background: #414141;
    font-family: 'Arimo';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
text-transform: uppercase;
color: #FFFFFF;
border: none;
border-radius: 5px;
border-bottom: #343434 solid 5px;
}
.btn1{
   margin-top: 5px;
}
.second-two{
    position: absolute;
width: 160px;
height: 165px;
left: 201px;
top: 141px;
font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
justify-content: center;
display: flex;
align-items: center;
text-align: center;
flex-direction: column;
text-transform: uppercase;
color: #484848;
background: #E3E3E3;
}
.second-three{
    position: absolute;
width: 160px;
height: 169px;
top: 141px;
font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
justify-content: center;
display: flex;
align-items: center;
text-align: center;
flex-direction: column;
text-transform: uppercase;
color: #484848;
background: #F2F2F2;
    left: 361px;
}
.second-four{
    top: 141px;
    left: 521px;
    position: absolute;
width: 160px;
height: 169px;
background: #E3E3E3;
font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
justify-content: center;
display: flex;
align-items: center;
text-align: center;
flex-direction: column;
text-transform: uppercase;
color: #484848;
}
.second-five{
    top: 141px;
    left: 681px;
    position: absolute;
width: 160px;
height: 166px;
background: #F2F2F2;
font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
justify-content: center;
display: flex;
align-items: center;
text-align: center;
flex-direction: column;
text-transform: uppercase;
color: #484848;
}
.second-six{
    top: 141px;
    position: absolute;
width: 160px;
height: 166px;
left: 841px;
background: #E3E3E3;
font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
flex-direction: column;
text-transform: uppercase;
justify-content: center;
color: #484848;
}
.second-seven{
    top: 141px;
    left: 1001px;
    position: absolute;
width: 160px;
height: 165px;
background: #F2F2F2;
font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
justify-content: center;
display: flex;
align-items: center;
text-align: center;
flex-direction: column;
text-transform: uppercase;
color: #484848;
}
.table-third{
    position: absolute;

}
.third-one{
    position: absolute;
    display: flex;
    width: 201px;
    height: 169px;
    left: 1px;
    margin: 0;
    background: #F04A56;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
top: 303px;

}
.ultimat{
    position: absolute;
    width: 146px;
    height: 32px;
    left: 27px;
    top: -21px;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.price-two{
    position: absolute;
width: 69px;
height: 28px;
left: 7px;
top: 41px;
font-family: 'Arimo';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
text-transform: uppercase;
color: #FFFFFF;
}
.cent2{
    position: absolute;
width: 54px;
height: 28px;
left: 40px;
top: -8px;
font-family: 'Arimo';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
text-transform: uppercase;

color: #FFFFFF;
}
.subtitle2{
    position: absolute;
    width: 112px;
    height: 28px;
    left: 72px;
    top: 0px;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
    color: #FFFFFF;
}
.button2{
    position: absolute;
    width: 147px;
    height: 44px;
    left: 26px;
    top: 102px;
    background: #414141;
    font-family: 'Arimo';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
text-transform: uppercase;
color: #FFFFFF;
border: none;
border-radius: 5px;
border-bottom: #343434 solid 5px;
}
.btn2{
    margin-top: 5px;
 }
.third-two{
    left: 201px;
    top: 303px;
    position: absolute;
width: 160px;
height: 169px;
background: #E3E3E3;
font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
justify-content: center;
display: flex;
align-items: center;
text-align: center;
flex-direction: column;
text-transform: uppercase;
color: #484848;
}
.third-three{
    left: 361px;
    top: 303px;
    position: absolute;
width: 160px;
height: 169px;
background: #F2F2F2;
font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
flex-direction: column;
text-transform: uppercase;
justify-content: center;
color: #484848;
}
.third-four{
    left: 521px;
    top: 303px;
    position: absolute;
width: 160px;
height: 169px;
background: #E3E3E3;
font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
justify-content: center;
display: flex;
align-items: center;
text-align: center;
flex-direction: column;
text-transform: uppercase;
color: #484848;
}
.third-five{
    left: 681px;
    top: 303px;
    position: absolute;
width: 160px;
height: 169px;
background: #F2F2F2;
font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
justify-content: center;
display: flex;
align-items: center;
text-align: center;
flex-direction: column;
text-transform: uppercase;
color: #484848;
}
.third-six{
    left: 841px;
    top: 303px;
    position: absolute;
width: 160px;
height: 169px;
background: #E3E3E3;
font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
flex-direction: column;
text-transform: uppercase;
justify-content: center;
color: #484848;
}
.third-seven{
    left: 1001px;
    top: 303px;
    position: absolute;
width: 160px;
height: 169px;
background: #F2F2F2;
font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
justify-content: center;
display: flex;
align-items: center;
text-align: center;
flex-direction: column;
text-transform: uppercase;
color: #484848;
}
.table-fourth{
    position: absolute;
}
.fourth-one{
    position: absolute;
    width: 201px;
    height: 169px;
    left: 0px;
    top: 470px;
    background: #20807C;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
}
.premium{
    margin: 0;
    position: absolute;
width: 141px;
height: 33px;
left: 28px;
top: 19px;
font-family: 'Arimo';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
justify-content: center;
color: #FFFFFF;
}
.price-three{
    position: absolute;
width: 68px;
height: 28px;
left: 7px;
top: 40px;
font-family: 'Arimo';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
justify-content: center;
color: #FFFFFF;
}
.cent3{
    position: absolute;
width: 54px;
height: 28px;
left: 39px;
top: -8px;
font-family: 'Arimo';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
justify-content: center;
color: #FFFFFF;
}
.subtitle3{
    position: absolute;
width: 112px;
height: 28px;
left: 71px;
top: 0px;
font-family: 'Arimo';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
text-transform: uppercase;
color: #FFFFFF;
}
.button3{
    position: absolute;
width: 147px;
height: 44px;
left: 25px;
top: 98px;
background: #414141;
font-family: 'Arimo';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
text-transform: uppercase;
color: #FFFFFF;
border: none;
border-radius: 5px;
border-bottom: #343434 solid 5px;
}
.btn3{
    margin-top: 5px;
 }
.fourth-two{
    top: 470px;
    left: 201px;
    position: absolute;
width: 160px;
height: 169px;
background: #E3E3E3;
font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
justify-content: center;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #484848;
}
.fourth-three{
    top: 470px;
    left: 361px;
    position: absolute;
width: 160px;
height: 169px;
background: #F2F2F2;
font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
justify-content: center;
display: flex;
align-items: center;
text-align: center;
flex-direction: column;
text-transform: uppercase;
color: #484848;
}
.fourth-four{
    top: 470px;
    left: 521px;
    position: absolute;
width: 160px;
height: 169px;
background: #E3E3E3;
font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
flex-direction: column;
text-transform: uppercase;
justify-content: center;
color: #484848;
}
.fourth-five{
    top: 470px;
    left: 681px;
    position: absolute;
    width: 160px;
    height: 169px;
    background: #F2F2F2;
    font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
justify-content: center;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #484848;
}
.fourth-six{
    top: 470px;
    left: 841px;
    position: absolute;
width: 160px;
height: 169px;
background: #E3E3E3;
font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
flex-direction: column;
text-transform: uppercase;
justify-content: center;
color: #484848;
}
.fourth-seven{
    top: 470px;
    left: 1001px;
    position: absolute;
width: 160px;
height: 169px;
background: #F2F2F2;
font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
flex-direction: column;
text-transform: uppercase;
justify-content: center;
color: #484848;
}