
body{
    margin: 0 auto;
    padding: 0 auto;
    border-collapse: collapse;
    width: 1192px;
    height: 100% auto;
    background: #E5E5E5;
    /* position: relative; */
}
.wrapper{
    width: 1192px;
    height: 736px;
    background: #3A4965;
    margin: 20px;
    /* position: absolute; */
    
}
.container{
    padding-left: 20px;
    padding-top: 15px;
    padding-right: 29px;
    padding-bottom: 20px;
    margin: 0;
    width: auto;
    height: auto;
    position: absolute;
}
table{
    border-collapse: inherit;
    box-sizing: border-box;
    width: auto;
    height: 100%;
     background-color: #fff;
     position: relative;
     display: table;
}
/* th{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
} */
td{
    background: #DDDDDD;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
    
}
/* h1{
    margin: 0;
    position: absolute;
    display: flex;
    align-items: center;
text-transform: uppercase;

} */
.head{
    display: flex;
}
.head-row1{
    display: flex;
}
.head-row1 .head-col1{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
justify-content: center;
   /* vertical-align: middle; */
    width: 313px;
    height: 162px;
    left: 0px;
    top: 0px;
    background: #FAFAFA;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    color: #484848;
}
.head-col1 .plan{
    font-size: 30px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    /* vertical-align: middle; */
}
.head-row1 .head-col2{
    position: absolute;
width: 280px;
height: 73px;
left: 313px;
top: 0px;
background: #89C331;
font-family: 'Arimo';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
text-transform: uppercase;
color: #FFFFFF;
}
.head-row1 .head-col3{
    position: absolute;
width: 280px;
height: 73px;
left: 593px;
top: -2;
background: #F04A56;
font-family: 'Arimo';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
justify-content: center;
}
.head-row1 .head-col4{
    position: absolute;
width: 280px;
height: 73px;
left: 873px;
top: 0px;
background: #20807C;
font-family: 'Arimo';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
text-transform: uppercase;
color: #FFFFFF;
}
.head-row2{
    display: flex
}
.head-row2 .head-col5{
    position: absolute;
    margin: 0 auto;
width: 280px;
height: 89px;
left: 313px;
top: 73px;
background: #FAFAFA;
font-family: 'Arimo';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 28px;
display: flex;
align-items: center;
flex-direction: row;
text-transform: uppercase;
justify-content: center;
color: #484848;
}
h1 {
    position: absolute;
    margin: 0 auto;
    width: 128px;
height: 50px;
font-family: 'Arimo';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 28px;
color: #484848;
display: flex;
flex-direction: column;
align-items: center;
text-transform: uppercase; 
justify-content: center;
}
.head-col5 .col5-price{
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: left;
text-transform: uppercase;
}
.head-col5 .price1{
margin: 0 auto;
display: flex;
position: absolute;
width: 128px;
height: 50px;
left: 30px;
top: 26px;
font-family: 'Arimo';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 28px;
align-items: center;
text-transform: uppercase;
color: #484848;
}
.head-col5 .cent1{
    position: absolute;
    width: 61px;
    height: 28px;
    left: 120px;
    top: 12px;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    color: #484848;
}
.head-col5 .month1{
    position: absolute;
width: 136px;
height: 28px;
left: 138px;
top: 31px;
/* display: table-cell; */
font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
display: flex;
/* vertical-align: middle; */
text-transform: uppercase;
color: #484848;
}
.head-col6{
    position: absolute;
    margin: 0 auto;
width: 280px;
height: 89px;
left: 593px;
top: 73px;
background: #FAFAFA;
display: table-cell;    
}
.head-col6 .col6-price{
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: left;
text-transform: uppercase;
}
.head-col6 .price2{
    position: absolute;
    width: 128px;
    height: 50px;
    left: 32px;
    top: 25px;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #484848;
}
.head-col6 .cent2{
    position: absolute;
    width: 61px;
    height: 28px;
    left: 119px;
    top: 11px;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    color: #484848;
}
.head-col6 .month2{
    position: absolute;
    width: 136px;
    height: 28px;
    left: 137px;
    top: 33px;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #484848;
}
.head-col7{
    position: absolute;
    margin: 0 auto;
    display: flex;
width: 280px;
height: 89px;
left: 873px;
top: 73px;
background: #FAFAFA;
}
.head-col7 .col7-price{
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: left;
text-transform: uppercase;
}
.head-col7 .price3{
    position: absolute;
    width: 128px;
    height: 50px;
    left: 30px;
    top: 27px;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #484848;
}
.head-col7 .cent3{
    position: absolute;
    width: 61px;
    height: 28px;
    left: 117px;
    top: 13px;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    color: #484848;
}
.head-col7 .month3{
    position: absolute;
    width: 136px;
    height: 28px;
    left: 135px;
    top: 35px;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #484848;
}
.body{
    display: table-row-group;
}
.body-row1{
margin: 0 auto;
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);

}
.body-row1 .body-col1{
    position: absolute;
    width: 313px;
    height: 72px;
    left: 0;
    top: 162px;
    background: #F2F2F2;
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;

}
.body-h1{
    position: absolute;
width: 78px;
height: 16px;
left: 128px;
/* top: 28px; */
font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #484848;
}
.img1{
    position: absolute;
width: 21px;
height: 26px;
position: absolute;
left: 103px;
top: 20px;
font-family: 'FontAwesome';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #848484;
}
.body-row1 .body-col2{
    position: absolute;
    width: 280px;
    height: 72px;
    left: 313px;
    top: 162px;
    background: #F2F2F2;
    font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
text-transform: uppercase;
color: #484848;
}
.body-row1 .body-col3{
    position: absolute;
    width: 280px;
    height: 72px;
    left: 593px;
    top: 162px;
    background: #F2F2F2;
    font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
text-transform: uppercase;
color: #484848;
}
.body-row1 .body-col4{
    position: absolute;
    width: 280px;
    height: 72px;
    left: 873px;
    top: 162px;
    background: #F2F2F2;
    font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
text-transform: uppercase;
color: #484848;
}
.body-row2{
margin: 0 auto;
display: flex;
}
.body-row2 .body-col5{
    margin: 0 auto;
    position: absolute;
    width: 313px;
    height: 72px;
    left: 0px;
    top: 234px;
    background: #E3E3E3;
    display: flex;
}
.img2{
    position: absolute;
width: 27px;
height: 28px;
left: 93px;
top: 21px;
font-family: 'FontAwesome';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #848484;
}
.body-h2{
    position: absolute;
width: 97px;
height: 16px;
left: 124px;
font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #484848;
}
.body-row2 .body-coi6{
    position: absolute;
    width: 560px;
    height: 72px;
    left: 313px;
    top: 234px;
    background: #E3E3E3;
    font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
text-transform: uppercase;
color: #484848;
}

.body-row2 .body-col7{
    position: absolute;
    width: 280px;
    height: 72px;
    left: 873px;
    top: 234px;
    background: #E3E3E3;
    font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
justify-content: center;
color: #484848;
}
.body-row3{
    margin: 0 auto;
    display: flex;
}
.body-row3 .body-col8{
    display:flex;
    position: absolute;
    width: 313px;
    height: 72px;
    left: 0;
    top: 306px;
    background: #F2F2F2;

    /* align-items: center;
    flex-direction: column;
text-align: center;
justify-content: center;
text-transform: uppercase; */
}
.img3{
    position: absolute;
width: 26px;
height: 22px;
left: 118px;
top: 23px;
font-family: 'FontAwesome';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
text-transform: uppercase;
color: #848484;
}
.body-h3{
    position: absolute;
width: 49px;
height: 16px;
left: 148px;
/* top: 31px; */
font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #484848;
}
.body-row3 .body-col9{
    position: absolute;
    width: 280px;
    height: 72px;
    left: 313px;
    top: 306px;
    background: #F2F2F2;
    font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
text-transform: uppercase;
color: #484848;
}

.body-row3 .body-col10{
    position: absolute;
    width: 280px;
    height: 72px;
    left: 593px;
    top: 306px;
     background: #F2F2F2;
     font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
text-transform: uppercase;
color: #484848;
}
.body-row3 .body-col11{
    position: absolute;
    width: 280px;
    height: 72px;
    left: 873px;
    top: 306px;
    background: #F2F2F2;
    font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
text-transform: uppercase;
color: #484848;
}
.body-row4{
    margin: 0 auto;
    display: flex;
}
.body-row4 .body-col12{
    position: absolute;
    width: 313px;
    height: 72px;
    left: 0 px;
    top: 378px;
    background: #F2F2F2;
    display: table-cell;
}
.img4{
    position: absolute;
    width: 24px;
    height: 25px;
    left: 98px;
    top: 24px;
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #848484;
}
.body-h4{
    position: absolute;
    width: 90px;
    height: 16px;
    left: 126px;
    top: 0px;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #484848;
}
.body-row4 .body-col13{
    position: absolute;
    width: 840px;
    height: 72px;
    left: 313px;
    top: 378px;
    background: #E3E3E3;
    font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
text-transform: uppercase;

color: #484848;
}
.body-row5{
    display: table-row;
}
.body-row5 .body-col14{
    position: absolute;
    width: 313px;
    height: 72px;
    left: 0;
    top: 450px;
    background: #F2F2F2;
    display: flex;
}
.img5{
    position: absolute;
width: 24px;
height: 25px;
left: 98px;
top: 24px;
font-family: 'FontAwesome';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #848484;
}
.body-h5{
    position: absolute;
width: 90px;
height: 16px;
left: 126px;
font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
display:flex;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #484848;
}
.body-row5 .body-col15{
    position: absolute;
    width: 280px;
    height: 72px;
    left: 313px;
    top: 450px;
    background: #F2F2F2;
    font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
text-transform: uppercase;
color: #484848;
}
.body-row5 .body-col16{
    position: absolute;
    width: 278px;
    height: 72px;
    left: 593px;
    top: 450px;
    background: #F2F2F2;
    font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
justify-content: center;
color: #484848;
}
.body-row5 .body-col17{
    position: absolute;
    width: 280px;
    height: 72px;
    left: 873px;
    top: 450px;
    background: #F2F2F2;
    font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
text-transform: uppercase;
color: #484848;
}
.body-row6{
    display: flex;
}
.body-row6 .body-col18{
    position: absolute;
    width: 313px;
    height: 72px;
    left: 0;
    top: 522px;
    background: #E3E3E3;
    display: table-cell;
}
.img6{
    position: absolute;
width: 28px;
height: 28px;
left: 112px;
top: 21px;
font-family: 'FontAwesome';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #848484;
}
.body-h6{
    position: absolute;
width: 58px;
height: 16px;
left: 144px;
/* top: 36px; */
font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #484848;
}
.body-row6 .body-col19{
    position: absolute;
    width: 280px;
    height: 72px;
    left: 313px;
    top: 522px;
    background: #E3E3E3;
    font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
text-transform: uppercase;
color: #484848;
}
.body-row6 .body-col20{
    position: absolute;
    width: 280px;
    height: 72px;
    left: 593px;
    top: 522px;
    background: #E3E3E3;
    font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
text-transform: uppercase;
color: #484848;
}
.body-row6 .body-col21{
    position: absolute;
    width: 280px;
    height: 72px;
    left: 873px;
    top: 522px;
    background: #E3E3E3;
    font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
/* vertical-align: middle; */
justify-content: center;
text-transform: uppercase;
color: #484848;
}
.foot{
    display: flex;
}
.foot-row1 .foot1{
    position: absolute;
    width: 313px;
    height: 109px;
    left: 0;
    top: 594px;
    background: #E3E3E3;
    display: flex;
}
.button1{
    position: absolute;
width: 195px;
height: 54px;
left: 57px;
top: 29px;
background: #484848;
font-family: 'Arimo';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
text-transform: uppercase;
color: #FFFFFF;
border: none;
border-radius: 5px;
border-bottom: #404040 solid 5px;
}
.btn1{
   margin-top: 5px;
}
.foot-row1 .foot2{
    position: absolute;
    width: 280px;
    height: 109px;
    left: 313px;
    top: 594px;
    background: #F2F2F2;
    display: flex;
}
.button2{
    position: absolute;
width: 192px;
height: 51px;
left: 43px;
top: 30px;
background: #89C331;
font-family: 'Arimo';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
text-transform: uppercase;
color: #FFFFFF;
border: none;
border-radius: 5px;
border-bottom: #79B027 solid 5px;
}
.btn2{
   margin-top: 5px;
}
.foot-row1 .foot3{
    position: absolute;
    width: 280px;
    height: 109px;
    left: 593px;
    top: 594px;
    background: #FAFAFA;
    display: flex;
}
.button3{
    position: absolute;
width: 195px;
height: 51px;
left: 41px;
top: 32px;
background: #F04A56;
font-family: 'Arimo';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
text-transform: uppercase;
color: #FFFFFF;
border: none;
border-radius: 5px;
border-bottom: #DF3A46 solid 5px;
}
.btn3{
   margin-top: 5px;
}
.foot-row1 .foot4{
    position: absolute;
    width: 280px;
    height: 109px;
    left: 873px;
    top: 594px; 
    background: #F2F2F2;
    display: flex;
}
.button4{
    position: absolute;
width: 195px;
height: 52px;
left: 40px;
top: 28px;
background: #20807C;
font-family: 'Arimo';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
text-transform: uppercase;
color: #FFFFFF;
border: none;
border-radius: 5px;
/* border-radius: 0px 0px 5px 5px; */
border-bottom: #16736F solid 5px;
}
.btn4{
   margin-top: 5px;
   
}

